@using VandalFood.BLL.Helpers;
@using VandalFood.DAL.Enums;
@using VandalFood.DAL.Models;
@model Product



<h2>Edit Product</h2>

<form asp-action="TryEdit" method="post" enctype="multipart/form-data">
    <input type="hidden" asp-for="Id" />

    <div class="form-group">
        <label asp-for="Title" class="control-label">Назва</label>
        <input asp-for="Title" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="Description" class="control-label">Опис</label>
        <input asp-for="Description" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="Price" class="control-label">Ціна</label>
        <input asp-for="Price" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="Weight" class="control-label">Вага</label>
        <input asp-for="Weight" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="ProductTypeId" class="control-label">Тип продукту</label>
        <select asp-for="ProductTypeId" class="form-select">
            @foreach (var pt in Enum.GetValues<ProductTypeEnum>().Select(s => (int)s))
            {
                <option value="@pt">@ProductTypeHelper.GetTitle(pt)</option>
            }
        </select>
    </div>

    <div class="form-group mt-2">
        <label asp-for="PhotoPath" class="control-label">Фото</label>
        <input type="file" name="photo" class="form-control" />
        <input asp-for="PhotoPath" hidden/>
    </div>

    <div class="form-group form-check">
        <input asp-for="IsActive" class="form-check-input" />
        <label asp-for="IsActive" class="form-check-label">Активність продукту</label>
    </div>
    <br>
    <div class="form-group">
        <input type="submit" value="Редагувати" class="btn btn-primary" />
    </div>
</form>

<div>
    <span style="color:red">@(ViewData["message"] ?? "")</span>
</div>