@model VandalFood.DAL.Models.Operator

@{
    ViewData["Title"] = "CreateOperator";
}

<h1>CreateOperator</h1>

<h4>Operator</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="TryCreate">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Login" class="control-label"></label>
                <input asp-for="Login" class="form-control" />
                <span asp-validation-for="Login" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LeftName" class="control-label"></label>
                <input asp-for="LeftName" class="form-control" />
                <span asp-validation-for="LeftName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RightName" class="control-label"></label>
                <input asp-for="RightName" class="form-control" />
                <span asp-validation-for="RightName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <select class="form-select" asp-for="RoleTypeId">
                    <option value="1">Оператор</option>
                    <option value="2">Кухар</option>
                    <option value="3">Кур'єр</option>
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Get">Назад до списку</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
